{extends layout.latte}

{block title}Fromular na nove osoby{/block}


{block body}
        <form action="{link createPerson}" method="post">
            <label>Jmeno</label>
            <br>
            <input type="text" name="fn" placeholder="Jmeno" value="{$form['fn']}" class="form-control"  required>
            <br>
            <label>Prijmeni</label>
            <br>
            <input type="text" name="ln" placeholder="Prijmeni" value="{$form['ln']}" class="form-control" required>
            <br>
            <label>Nick</label>
            <br>
            <input type="text" name="nn" placeholder="Nick" value="{$form['nn']}" class="form-control" required>
            <br>
            <label>Pohlavi</label>
            <br>
            <select name="g" class="form-control">
                <option value=""> Nezname</option>
                {if $form["g"]=="male"}
                <option value="male" selected> Muz</option>
                {else}
                <option value="male" > Muz</option>
                {/if}
                {if $form["g"]=="female"}
                    <option value="female" selected> Zena</option>
                {else}
                    <option value="female" > Zena</option>
                {/if}
            </select>
            <br>
            <label>Datum Narozeni</label>
            <br>
            <input type="date" name="bd" value="{$form['bd']}" class="form-control">
            <br>
            <label>Vyska</label>
            <br>
            <input type="number" name="h" placeholder="Vyska" value="{$form['h']}" class="form-control">
            <br>

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i>
                Odesli formular
            </button>

        </form>
{/block}
