{extends layout.latte}

{block title}Vypis osob{/block}

{block body}

        <hr>
        <form action="{link index}">
            <div class="row">
                <div class="col-4">
                    <input type="text" name="search" class="form-control">
                </div>
                <div class="offset-1 col-2">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                        Hledat
                    </button>
                </div>
            </div>


        </form>
    <hr>
    <table border="1" width="1">
    {foreach $persons as $p}
        <tr>
            <td>{$p['first_name']} </td>
            <td>{$p['last_name']}</td>
            <td>{$p['nickname']}</td>
            <td>{$p['birth_day']}</td>
            <td>{$p['height']}</td>
            <td>{$p['gender']}</td>
        </tr>
    {/foreach}
    </table>
{/block}
